<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
  </head>

  <body>
    <div id="show-posts-page">
      <%- include('navPartial', {viewerId: viewerId}) %>
      <div id="posts-div">
        <div id="show-posts-div">
          <% for(var i = 0; i<data.length; ++i){ %>
            <%- include('showPostPartial', {creator: data[i].creator, post: data[i].post, viewerId: viewerId}); %>
          <% } %>  
        </div>
      </div>
    </div>
  </body>
  
  <script src="https://code.jquery.com/jquery-3.6.0.js"
			    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			    crossorigin="anonymous">
  </script>
  
  <script>
    $(".like-post").on("click", function(event){
      if(!$(this).attr("class").includes("liked-post")){
        $(this).toggleClass("liked-post")
        $(this).text("Liked")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/like-post/${(event.target.id).replace("like-post-", "")}`
        $.post(url).done(function(result, status){
          if(result){
            const data = JSON.parse(result)
            alert(data._id)
            alert(data.likedUserIds.length)
            event.target.id = event.target.id.replace("like", "liked")
            $(`#post-likes-${data._id}`)
              .text(`${data.likedUserIds.length} ${data.likedUserIds.length > 1 ? "likes" : "like"}`)
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to like</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          alert("fail")
          alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      } else {
        $(this).toggleClass("liked-post")
        $(this).text("Like")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/regret-like-post/${(event.target.id).replace("liked-post-", "")}`
        $.post(url).done(function(data, status){
          if(data){
            event.target.id = event.target.id.replace("liked", "like")
            $(`#post-likes-${data._id}`)
              .text(`${data.likedUserIds.length} ${data.likedUserIds.length > 1 ? "likes" : "like"}`)
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to retract like</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          alert("fail")
          alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      }
      
    })
    
    
  </script>
</html>


