<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
  </head>

  <body>
    <div id="creator-profile" class="card user-card user-name expand-profile" style="height: 10rem; width: 15rem; position: absolute; top:-1000px; left: -1000px; z-index: 10000; display:flex; flex-wrap:wrap; flex-direction:row">
      <img id="creator-img" class="card-img-top expand-profile" src="" style="height: 50%; width: 50%">
      <p class="card-title expand-profile" id="creator-about" style="width: 50%; height: 50%; text-align:center; margin:auto"></p>
      <p id="follow-button" class="card-link change-follow-status expand-profile" style="margin: auto"></p>
      <p id="follower-count" class="expand-profile" style="margin: auto"></p>
    </div>

    <div id="comments-div-of-post" class="card comments-div" style="height: 100vh; width: 33%; position: absolute; top:-1000px; left: -1000px; z-index: 99999; overflow-y: auto">
      <img class="card-img-top post-image comments-div" id="post-image-in-comments-div" src="" style="max-height:50%">
      <div class="card-img-overlay comments-div">
        <h5 class="card-title post-title comments-div" id="post-title-in-comments-div"></h5>
      </div>
      <div class="card-body comments-div">
        <p class="card-text post-context comments-div" id="post-context-in-comments-div"></p>
      </div>
      <div id="show-comments" class="comments-div" style="height:100%; width:100%; overflow-y:auto">
        
      </div>
        <% if(viewerId) { %>
          <form id="comment-form" style="position:relative; z-index:10000" class="in-comments-div">
            <textarea class="in-comments-div" id="comment-input" style="width: 100%">
            </textarea>
            <br />
            <input type="submit" id="send-comment" value="send" class="btn btn-primary in-comments-div" style="width:100%"/>
          </form>
        <% } else { %>
          <div id="register-to-comment" class="in-comments-div">
            
          </div>
        <% } %>
    </div>
    
    <div id="show-posts-page">
      <%- include('navPartial', {viewerId: viewerId}) %>
      <div id="posts-div">
        <div id="show-posts-div">
          <% for(var i = 0; i<data.length; ++i){ %>
            <%- include('showPostPartial', {creator: data[i].creator, post: data[i].post, viewerId: viewerId}); %>
          <% } %>  
        </div>
      </div>
    </div>
  </body>
  
  <script src="https://code.jquery.com/jquery-3.6.0.js"
			    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			    crossorigin="anonymous">
  </script>
  
  <script src="/profileandposts.js"></script>
  
  <script>
    var navBar = document.querySelector("#nav-bar");
    var postDiv = document.querySelector("#posts-div");
    postDiv.style.height = window.innerHeight - navBar.getBoundingClientRect().height + "px";
    //var dateCols = document.querySelectorAll(".date-col");
    
    const handleWindowSize = () => {
      if(window.innerWidth < 500){
        $("#creator-profile").css({"height": "7rem", "width":"7rem", "font-size":"12px"})
        $("#show-posts-div").css("width", "80%");
        $("#nav-bar").css("font-size", "12px");
      } else {
        $("#show-posts-div").css("width", "33%");
        $("#nav-bar").css("font-size", "17px");
      }
      
      postDiv.style.height = window.innerHeight - navBar.getBoundingClientRect().height + "px";
    };
    
    window.addEventListener("load", handleWindowSize);
    window.addEventListener("resize", handleWindowSize);
  </script>
</html>


