<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
  </head>

  <body>
    <div id="show-posts-page">
      <%- include('navPartial', {viewerId: viewerId}) %>
      <div id="posts-div">
        <div id="show-posts-div">
          <% for(var i = 0; i<data.length; ++i){ %>
            <%- include('showPostPartial', {creator: data[i].creator, post: data[i].post, viewerId: viewerId}); %>
          <% } %>  
        </div>
      </div>
    </div>
  </body>
  
  <script src="https://code.jquery.com/jquery-3.6.0.js"
			    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			    crossorigin="anonymous">
  </script>
  
  <script>
    $(".like-post").on("click", function(event){
      if(!$(this).attr("class").includes("liked-post")){
        $(this).toggleClass("liked-post")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/like-post/${(event.target.id).replace("like-post-", "")}`
        
        $.post(url).done(function(data, status){
          if(data){
            const text = `${data.value.likedUserIds.length} 
                          ${data.value.likedUserIds.length > 1 ? "likes" : "like"}`
            
            event.target.innerText = text
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to like</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      } else {
        $(this).toggleClass("liked-post")
  
        const url = `https://image-sharing-with-mongodb.glitch.me/regret-like-post/${(event.target.id).replace("like-post-", "")}`
        
        $.post(url).done(function(data, status){
          if(data){
            const text = `${data.value.likedUserIds.length} 
                          ${data.value.likedUserIds.length > 1 ? "likes" : "like"}`
            
            event.target.innerText = text
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to retract like</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      }
      
    })
    
    $(".user-name").on("click", function(event){
      const currentState = event.target.childNodes[1].style.display
      event.target.childNodes[1].style.display =  currentState == "flex" ? "none" : "flex" 
    })
    
    $(".change-follow-status").on("click", function(event){
      if($(this).attr("class").includes("following")){
        $(this).toggleClass("following")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/follow/${(event.target.id).replace("userId-", "")}`
        
        $.post(url).done(function(data, status){
          if(data){
            event.target.innerText = "Unfollow"
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to follow</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      } else {
        $(this).toggleClass("following")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/unfollow/${(event.target.id).replace("userId-", "")}`
        
        $.post(url).done(function(data, status){
          if(data){
            event.target.innerText = "Follow"
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to unfollow</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      }
    })
    
    document.addEventListener("scroll", function(event){}, { passive: true })
  </script>
</html>


