<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
  </head>

  <body>
    <div id="creator-profile" class="card user-card user-name expand-profile" style="height: 10rem; width: 15rem; position: absolute; top:-1000px; left: -1000px; z-index: 10000; display:flex; flex-wrap:wrap; flex-direction:row">
      <img id="creator-img" class="card-img-top" src="" style="height: 50%; width: 50%">
      <p class="card-title" id="creator-about" style="width: 50%; margin:auto"></p>
      <p id="follow-button" class="card-link change-follow-status" style="margin: 1rem"></p>
      <p id="follower-count" style="margin: 1rem"></p>
    </div>

    <div id="comments-div-of-post" class="card comments-div" style="height: 100vh; width: 33%; position: absolute; top:-1000px; left: -1000px; z-index: 9999; overflow-y: auto">
      <img class="card-img-top post-image comments-div" id="post-image-in-comments-div" src="">
      <div class="card-img-overlay comments-div">
        <h5 class="card-title post-title comments-div" id="post-title-in-comments-div"></h5>
      </div>
      <div class="card-body comments-div">
        <p class="card-text post-context comments-div" id="post-context-in-comments-div"></p>
      </div>
      <hr/>
      <div id="show-comments" class="comments-div" style="height:100%; overflow-y:auto">
        
      </div>
        <% if(viewerId) { %>
          <form id="comment-form" style="position:relative; z-index:10000" class="comments-div">
            <textarea class="comments-div" id="comment-input" style="width: 100%">
            </textarea>
            <br />
            <input type="submit" id="send-comment" value="send" class="btn btn-primary comments-div" style="width:100%"/>
          </form>
        <% } else { %>
          <div id="register-to-comment" class="comments-div">
            
          </div>
        <% } %>
    </div>
    
    <div id="show-posts-page">
      <%- include('navPartial', {viewerId: viewerId}) %>
      <div id="posts-div">
        <div id="show-posts-div">
          <% for(var i = 0; i<data.length; ++i){ %>
            <%- include('showPostPartial', {creator: data[i].creator, post: data[i].post, viewerId: viewerId}); %>
          <% } %>  
        </div>
      </div>
    </div>
  </body>
  
  <script src="https://code.jquery.com/jquery-3.6.0.js"
			    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			    crossorigin="anonymous">
  </script>
  
  <script>
    $(".like-post").on("click", function(event){
      if(!$(this).attr("class").includes("liked-post")){
        $(this).toggleClass("liked-post")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/like-post/${(event.target.id).replace("like-post-", "")}`
        
        $.post(url).done(function(data, status){
          if(data){
            const text = `${data.value.likedUserIds.length} 
                          ${data.value.likedUserIds.length > 1 ? "likes" : "like"}`
            
            event.target.innerText = text
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to like</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      } else {
        $(this).toggleClass("liked-post")
  
        const url = `https://image-sharing-with-mongodb.glitch.me/regret-like-post/${(event.target.id).replace("like-post-", "")}`
        
        $.post(url).done(function(data, status){
          if(data){
            const text = `${data.value.likedUserIds.length} 
                          ${data.value.likedUserIds.length > 1 ? "likes" : "like"}`
            
            event.target.innerText = text
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to retract like</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      }
      
    })
    
    var mouseBack = false
    
    $(".user-name").on("mouseover", function(event){
      mouseBack = true
      const url = `https://image-sharing-with-mongodb.glitch.me/getUserJSON/${$(this).attr("creatorId")}`
      $.get(url).done(function(data, status){
        if(data){
          const creatorId = data.creatorId
          const name = data.name
          const about = data.about
          const image = data.image
          const followerIds = data.followerIds
          const viewerId = data.viewerId
          
          $("#creator-profile").css({"top": `${event.clientY - 100}px`, "left": `${event.clientX}px`})
          $("#creator-img").attr("src", data.image)
          $("#creator-about").text(data.about)
          
          if(!viewerId){
            
          } else if(creatorId != viewerId){
            if(followerIds.includes(viewerId)){
              $("#follow-button").addClass("following")
              $("#follow-button").text("Unfollow")
            } else {
              $("#follow-button").removeClass("following")
              $("#follow-button").text("Follow")
            }
            $("#follow-button").css("display", "block")
            $("#follow-button").attr("creatorId", creatorId)
          } else {
            $("#follow-button").css("display", "none")
            $("#follow-button").attr("creatorId", creatorId)
          }
          
          const followerCount = data.followerIds.length > 1 ? 
                `${data.followerIds.length} followers` 
                : `${data.followerIds.length} follower`
          
          $("#follower-count").text(followerCount)
          
        } else {
          $("#show-post-div").append("div id='alert-box'>failed to follow</div>")
          $("#alert-box").css({
            "border": "1px solid red",
            "color": "red",
            "height": "25px",
            "width": "100px",
            "margin": "auto"
          })
            
          setTimeout(function(){
            $("#alert-box").remove()
          }, 2000)
        }
      }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
    })
    
    
    $(".user-name").on("mouseleave", function(event){
      mouseBack = false
      
      setTimeout(function(){
        if(!mouseBack){
          $("#creator-profile").css({"top": "-1000px", "left": "-1000px"})
          $("#creator-img").attr("src", "")
          $("#creator-about").text("")
          $("#follow-button").css("display", "none")
          $("#follow-button").attr("creatorId", "")
        }
      }, 500)
    })
    
    $("#follow-button").on("click", function(event){
      const creatorId = $(this).attr("creatorId")
      
      if($(this).attr("class").includes("following") == false){
        $(this).toggleClass("following")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/follow/${creatorId}`
        
        $.post(url).done(function(data, status){
          if(data){
            event.target.innerText = "Unfollow"
            
            const followerCount = data.followerIds.length > 1 ? 
                  `${data.followerIds.length} followers` 
                  : `${data.followerIds.length} follower`
            
            $("#follower-count").text(followerCount)
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to follow</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      } else {
        $(this).toggleClass("following")
        
        const url = `https://image-sharing-with-mongodb.glitch.me/unfollow/${creatorId}`
        
        $.post(url).done(function(data, status){
          if(data){
            event.target.innerText = "Follow"
          
            const followerCount = data.followerIds.length > 1 ? 
                  `${data.followerIds.length} followers` 
                  : `${data.followerIds.length} follower`
            
            $("#follower-count").text(followerCount)
          } else {
            $("#show-post-div").append("div id='alert-box'>failed to unfollow</div>")
            $("#alert-box").css({
              "border": "1px solid red",
              "color": "red",
              "height": "25px",
              "width": "100px",
              "margin": "auto"
            })
            
            setTimeout(function(){
              $("#alert-box").remove()
            }, 2000)
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
      }
    })
    
    $(".comments-count").on("click", function(event){
      $("#comments-div-of-post").css({"top": "0px", 
                                      "left": $(window).width()/2-500/2+"px"});
      
      const parentId = $(this).attr("parentId");
      const parentType = $(this).attr("parentType")
      const imageSrc = $(`#post-image-${parentId}`).attr("src");
      const title = $(`#post-title-${parentId}`).text();
      const context = $(`#post-context-${parentId}`).text();
      
      $("#post-image-in-comments-div").attr("src", imageSrc);
      $("#post-title-in-comments-div").text(title);
      $("#post-context-in-comments-div").text(context);
      
      if($("#send-comment")){
        $("#send-comment").attr("parentType", parentType);
        $("#send-comment").attr("parentId", parentId);
      }
      
      const url = `https://image-sharing-with-mongodb.glitch.me/get-comments/${parentType}/${parentId}`
      
      $.get(url).done(function(data){
        if(data && data.data){
          const commentsAndUsers = data.data
          
          commentsAndUsers.forEach((commentAndUser) => {
            $("#show-comments").append(commentAndUser.comment.content)
          })
        }
      }).fail(function(xhr, status, error){
        console.log("fail")
        console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
      })
    })
    
    $("#send-comment").on("click", function(event){
      event.preventDefault();
  
      const comment = $("#comment-input").val();
      const parentType = $(this).attr("parentType");
      const parentId = $(this).attr("parentId");
      
      const url = `https://image-sharing-with-mongodb.glitch.me/comment/${parentType}/${parentId}`;
      $.post(url, { content: comment }).done(function(data){
        if(data){
          const parent = data.parent;
          const comment = data.comment;
          $("#show-comments").append(comment.content)
        }
      }).fail(function(xhr, status, error){
        console.log("fail")
        console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
      })
    })
    
    /*$(document).on("click", function(event){
      if($(this).hasClass("comments-div") == false || $(this).hasClass("comments-count") == false){
        $("#comments-div-of-post").css({"top": "-10000px", 
                                      "left": "-100000px"});
        
        $("#post-image-in-comments-div").attr("src", imageSrc);
        $("#post-title-in-comments-div").text(title);
        $("#post-context-in-comments-div").text(context);
        $("#show-comments").html("")
      }
    })*/
    
    document.addEventListener("scroll", function(event){}, { passive: true })
  </script>
</html>


