body{
  overflow: visible;
}

#nav-bar{
  height: 40px;
}

.card-group{
  height: 80vh;
}

.card-body{
  z-index: 5000;
}

textarea{
  resize: none !important;
}

#view-profile{
  height: 100vh;
}

#form-section {
  line-height: 50px;
  padding-top: 40px;
  margin: auto;
  width: 50%;
  text-align:center
}

#image-preview{
  width: 170px;
  height: 100px;
  border: 1px solid lightblue;
  margin: auto;
}

#img-preview{
  width: 170px;
  height: 100px;
}

#profile-img-preview{
  width: 100%;
  height: 50vh;
}

.post-image{
  width: 100%;
  height: 50vh;
}

.post-title{
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  -webkit-text-stroke: black
}

.post-context{
  text-align:center;
}

#profile-card{
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#profile-card::-webkit-scrollbar {
  display: none;
}

#liked-posts{
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#liked-posts::-webkit-scrollbar {
  display: none;
}

#feed{
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#feed::-webkit-scrollbar {
  display: none;
}

#show-posts-page{
  
}

.post-card{
  height: 50%;
}

#posts-div{
  height: 90vh;
  overflow-y: scroll;
}

#show-posts-div{
  width: 33%;
  margin: auto;
}

.liked-content{
  color: #FF00FF;
}

#liked-posts-title{
   color: white;
   z-index: 100000; 
   background-color: #f900a9; 
   margin-bottom: 0px;
   border-radius: 0px;
}

.user-name:hover{
  cursor: pointer; 
}

.expand-profile:hover{
  cursor: default;
}

.change-follow-status:hover{
  cursor: pointer;
}

.comment-div {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 100000;
  border-top: 1px solid rgba(128,128,128,0.37);
}

.user-name-in-comments-div {
  width: 100px;
  height: 100px;
  border-right: 1px solid rgba(128,128,128,0.37);
}

.user-image-in-comment{
  width: 100px;
  height: 80px;
}

.user-name-in-comment{
  font-size: 14px;
  width: 100px;
  text-align:center;
}

.comment-in-comments-div{
  text-align:left;
}




.menu-option{
  margin: 10px;
  margin-top: 50px;
}

.menu-option:hover{
  cursor: pointer;
  color: navy;
  text-decoration: none;
}